<header>
    <div class="logo-container">
        <img src="/assets/images/svg/logo.svg">
    </div>
    <div class="text-container">
        <div class="heading">
            <h1>FREELA <br> DE RESPEITO</h1>
            <span class="heading-border"></span>
        </div>
        <p>
            Bem-vindo ao mundo das possibilidades ilimitadas do freelance! Se você está procurando flexibilidade, diversidade e a chance de moldar sua própria carreira, você chegou ao lugar certo. Nosso site é uma plataforma vibrante que conecta freelancers talentosos, como você, com clientes de todo o mundo que precisam de suas habilidades únicas.
        </p>
    </div>
</header>
